@font-face {
  font-family: 'JetBrains';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/jetbrains/JetBrainsMono-Regular.woff');
}

@font-face {
  font-family: 'Galano';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/galano/galano-medium.otf');
}

body {
  margin: 0;
  font-family: 'Galano', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}